@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --main-bg-clr: #f2f1ee;

  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  background-color: var(--main-bg-clr);
}
